<h1>Editing employee</h1>
 
<%= form_for :employee, url: employee_path(@employee), method: :patch do |f| %>
 
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<p>
    <%= f.label :Name %><br> 	
    <%= f.text_field :name %>	
  </p>
 <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
 </p>
    
   <p>
    <%= f.label :Address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :start_date, "Start date; format YYYY-MM-DD)" %><br>
    <%= f.date_field :start_date %>
  </p>
 
  <p>
    <%= f.submit %>
    <%= link_to 'Go back', employees_path %>
  </p>
<% end %>

