<h1>List of Employees</h1>


      <%= form_tag(employees_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Employee" %>
      <%= submit_tag("Search/Show All") %>
      <% end %>

<table>
  <table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Start date</th>
  </tr>
  </thead>
  
  <% @employees.each do |employee| %>
  <tbody>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.address %></td>
      <td><%= employee.start_date %></td>
      <td><%= link_to 'Show details', employee_path(employee) %></td>  
      <td><%= link_to 'Update details', edit_employee_path(employee) %></td>
      <td><%= link_to 'Remove', employee_path(employee),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
  <td><%= link_to 'Add new employee', new_employee_path %></td>
  
</table>
