<h1>Employee Profile</h1>
<%# shows created employee %> 

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>
 
<p>
  <strong>Started on:</strong>
  <%= @employee.start_date %>
</p>
</table>
<h2>Previous Requests</h2>

<table>
  <table class="table">
  <thead>
    <tr>
    <th>Start date:</th>
    <th>End date:</th>
    <th>Comment:</th>
    </tr>
  </thead>
  <% @employee.requests.each do |request| %>
  <tbody>
    <tr>
    <td><%= request.hol_start_date %></td>
    <td><%= request.hol_end_date %></td>
    <td><%= request.comment %></td>
    <td><%= link_to 'Delete Request', [request.employee, request],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
  </table>


<h2>Add a new holiday request</h2>
<h2>(yyyy-mm-dd)</h2> 
<%= form_for([@employee, @employee.requests.build]) do |f| %>
  <p>
    <%= f.label :hol_start_date, "Holiday start date" %><br> 
    <%= f.text_field :hol_start_date %>
  </p>
  <p>
    <%= f.label :hol_end_date, "Holiday end date" %><br> 
    <%= f.text_field :hol_end_date %>
  </p>
  <p>
    <%= f.label :comment %><br> 
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <p><%= link_to 'Edit', edit_employee_path(@employee) %> |
      <%= link_to 'Back', employees_path %>
  </p>
<% end %> 

