<div class="center jumbotron">
<h1>Welcome to Holiday App</h1>

<h3>To manage your employees and their holidays </h3>
<table>
  <table class="table">
  <thead>
  <tr>
    <%= render 'devise/welcome/login_items' %>
    or
    <%= render 'devise/welcome/registration_items' %>
    </thead>
</table>

</div>


