@import "bootstrap-sprockets";
@import "bootstrap";

/*SOURCE OF THE CODE: https://www.railstutorial.org/book/filling_in_the_layout#cha-filling_in_the_layout with changes by the author x14126681*/

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea.vert {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/*fonts and typing*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 0.2em;
  line-height: 1.5em;
  text-align: center;
  color: #7a6984;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}


footer small {
  float: right;
}

