<!DOCTYPE html>
<html>
<head>
  <title>Holiday App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Holiday App", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-centre">
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", user_session_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            
            

          </ul>
        </nav>
      </div>
    </header>
    
    <div class="container">
      <div class="center jumbotron">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div>
    <footer class="footer">
  <small>
    <h6>Powered by x14126681</h6>
  </small>

</footer>
    </div>
</body>
</html>
